@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar-nav > a {
  margin-left: -150px;
}

.container a span {
  width: 1.9em;
  height: 1.9em;
}

.container {
  max-width: 100vw;
  max-height: 100vh;
}

/* scan WO */

input[type='text'],
input[type='password'] {
  outline: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

#txtWorkOrder,
#txtQRMain,
#txtQty {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
}

.input-field {
  font-size: 3em;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
}
#alert {
  position: fixed;
  bottom: 0;
}

#QR {
  /* border: 1px solid #02be79; */
  margin-top: 0;
  padding: 0;
  margin: auto 1em;
}

#txtWorkOrderScrap,
#txtWorkOrderRepair {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
}
.txtWorkOrderRepair {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #ffbe00;
  color: #ffbe00;
}
.txtWorkOrderFinish {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #00754b;
  color: #00754b;
}

.txtWorkOrderScrap {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #f41b35;
  color: #f41b35;
}

.table {
    font-size: 0.79rem;
}
/**Gridpager**/
.GridPager a,
.GridPager span {
    display: block;
    height: 2.5em;
    width: 2.5em;
    /*font-weight: bold;*/
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.GridPager a {
    /* border-radius: 5px; */
    color: #8f929b;
    /* border: 1px solid #969696; */
    padding: 20%;
    gap: 3em;
}

.GridPager span {
    border-radius: 50%;
    background-color: #8f929b;
    color: #ffffff;
    padding: 20%;
    margin: 0;
    font-weight: bold;
}

/*#myTable{
    height: 100vh;
    table-layout:auto;
}
*/

